//Variables

//Responsiveness
$mobile: 440px;
$tablet: 769px;
$desktop: 1023px;
$widescreen: 1215px;
$fullhd: 1408px;

//Colors
$black: #0a0a0a;
$white: #ffdcdb;
$primary: #FFC165;
$secondary: #BF914D;
